<div class="content-area-l-17-2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-12 text-container">
                <div class="WP-header">
                    <h2>About Us</h2>
                </div>
                <!-- <div class="text-container"> -->
                <p>
                    The advent of the Internet and the advancement of technology has created a new space for businesses and people around the world to connect with each other.
                </p>
                <p>
                    Advances in technology have also changed people's concerns, and they are concerned about the control of their personal information by technology giants such as Facebook and Google. According to research, Facebook and Google account for 73% of the advertising
                    share, because by controlling the personal information of individuals, they are aware of the interests and tastes of each community.
                </p>
                <p>
                    With the help of blockchain technology and its decentralized nature, our team tries to create a decentralized platform for uploading your videos and photos, such as Instagram, so that your searches within the application will not leave your phone under
                    any circumstances. And no advertising company can access it.
                </p>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>