<!--Content Area 1-->
<div class="content-area-l-17-2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="row align-items-center justify-content-center">
                    <div class="
                    col-xxl-5 col-xl-6 col-lg-6 col-md-8
                    order-lg-1 order-1
                  " data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                        <div class="content section-heading-11">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="width: 100px; color: #2dce89" xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
                      ></path>
                    </svg>
                            <h2 class="svg-header">Project Advantages</h2>
                            <div class="svg-holder">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="width: 50px; color: #2dce89; margin-right: 15px" xmlns="http://www.w3.org/2000/svg">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                        ></path>
                      </svg>
                                <p>
                                    Creating a decentralized platform for photo and video sharing
                                </p>
                            </div>
                            <div class="svg-holder svg-holder-one-line">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="width: 40px; color: #2dce89; margin-right: 15px" xmlns="http://www.w3.org/2000/svg">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                        ></path>
                      </svg>
                                <p>Protects your privacy</p>
                            </div>
                            <div class="svg-holder svg-holder-one-line">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="width: 40px; color: #2dce89; margin-right: 15px" xmlns="http://www.w3.org/2000/svg">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                        ></path>
                      </svg>
                                <p>Smart contracts for safe shopping</p>
                            </div>
                            <div class="svg-holder">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="width: 50px; color: #2dce89; margin-right: 15px" xmlns="http://www.w3.org/2000/svg">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                        ></path>
                      </svg>
                                <p>
                                    Supporting people who produce content on this platform
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="
                    offset-xxl-1
                    col-xxl-6 col-xl-6 col-lg-6 col-md-8
                    order-lg-1 order-0
                  " data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                        <div class="content-img position-relative">
                            <img src="/image/l8/content-image-4.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content Area 2-->
<div class="content-area-l-17-1">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-12">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                        <div class="content-img position-relative">
                            <img src="/image/l8/content-image-1.png" alt="" />
                        </div>
                    </div>
                    <div class="offset-xxl-1 col-xxl-5 col-xl-6 col-lg-6 col-md-8" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                        <div class="content section-heading-11">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" style="width: 90px; color: #ff3709" xmlns="http://www.w3.org/2000/svg">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                      ></path>
                    </svg>
                            <h2 class="svg-header target-header">
                                Our Target Community
                            </h2>
                            <p>
                                All people who have accounts on social networks such as Instagram, Facebook, Twitter etc. can use this application and join this decentralized community
                                <span style="color: #ff3709">(a community away from control and filtering).</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Content Area 3-->
      <div class="content-area-l-17-2 content-3">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-12">
              <div class="row align-items-center justify-content-center">
                <div
                  class="
                    col-xxl-5 col-xl-6 col-lg-6 col-md-8
                    order-lg-1 order-1
                  "
                  data-aos="fade-left"
                  data-aos-duration="800"
                  data-aos-once="true"
                >
                  <div class="content section-heading-11">
                    <div class="white-circle">
                      <svg
                        class="w-6 h-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        style="width: 100px; color: #5e72e4"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                        ></path>
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                        ></path>
                      </svg>
                    </div>
                    <h2 class="svg-header white-text">Roadmap</h2>
                    <div class="RD-container">
                      <div class="RD-connetction">
                        <span class="RD-circle"></span>
                                <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            Creating tokens on Binance Smart Chain platform
                        </p>
                    </div>
                    <div class="RD-container">
                        <div class="RD-connetction">
                            <span class="RD-circle"></span>
                            <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            Initial release in <a>Disgramtoken.com</a>
                        </p>
                    </div>
                    <div class="RD-container">
                        <div class="RD-connetction">
                            <span class="RD-circle"></span>
                            <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            Collaborate with various blockchain teams to improve token security and speed
                        </p>
                    </div>
                    <div class="RD-container">
                        <div class="RD-connetction">
                            <span class="RD-circle"></span>
                            <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            Listing tokens in various centralized and decentralized exchanges
                        </p>
                    </div>
                    <div class="RD-container">
                        <div class="RD-connetction">
                            <span class="RD-circle"></span>
                            <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            Build a wallet with new features that will surprise users
                        </p>
                    </div>
                    <div class="RD-container">
                        <div class="RD-connetction">
                            <span class="RD-circle"></span>
                            <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            Use the Poldact for connection between block chains and solve scalability
                        </p>
                    </div>
                    <div class="RD-container">
                        <div class="RD-connetction">
                            <span class="RD-circle"></span>
                            <span class="RD-rod"></span>
                        </div>
                        <p class="RD-text">
                            A beautiful UI Kit for impactful websites
                        </p>
                    </div>
                </div>
            </div>
            <div class="
                    offset-xxl-1
                    col-xxl-6 col-xl-6 col-lg-6 col-md-8
                    order-lg-1 order-0
                  " data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                <div class="content-img position-relative">
                    <img src="/image/l8/content-image-3.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--Testimonial Area-->
<div class="testimonial-area-l-17 pb-0">
    <div class="container">
        <div class="
              row
              justify-content-left
              no-gutters
              border-collapse-1
              main-step-container
            ">
            <div class="step-container">
                <h2 class="step-header">
                    How to create a Dinstagram account in Trust Wallet?
                </h2>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 pb-5">
                <div class="content section-heading-11">
                    <h3 class="step-header white-text">Step 1</h3>
                    <p class="width-wide white-text">
                        Open your Trust Wallet and click on Token List button
                    </p>
                    <img src="/image/step1.png" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 pb-5">
                <div class="content section-heading-11">
                    <h3 class="step-header white-text">Step 2</h3>
                    <p class="width-wide white-text">
                        Scroll to bottom and click on "Add Custom Token"
                    </p>
                    <img src="/image/step2.png" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 pb-5">
                <div class="content section-heading-11">
                    <h3 class="step-header white-text">Step 3</h3>
                    <p class="width-wide white-text">
                        Change Network to "Smart Chain"
                    </p>
                    <img src="/image/step3.png" />
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-9 pb-5">
                <div class="content section-heading-11">
                    <h3 class="step-header white-text">Step 4</h3>
                    <p class="width-wide white-text">
                        Enter "Contract Address" of Dinstagram token and save it
                    </p>
                    <img src="/image/step4.png" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 pb-5">
                <div class="content section-heading-11">
                    <h3 class="step-header white-text">Step 5</h3>
                    <p class="width-wide white-text">
                        After it Dinstagram token will be listed in Trust Wallet
                    </p>
                    <img src="/image/step5.png" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 pb-5">
                <div class="content section-heading-11">
                    <h3 class="step-header white-text">Step 6</h3>
                    <p class="width-wide white-text">
                        Now you can copy your Dinstagram wallet Address
                    </p>
                    <img src="/image/step6.png" />
                </div>
            </div>
            <p class="cont-add">
                Here is our "Contract Address" :
                <span class="cont-add">0x68F4BaA5EBcBc58B94C62f189ED82617f60d6B10</span
              >
            </p>
          </div>
        </div>
      </div>

      <!--Brand Area-->
      <div class="brand-area-l-17">
        <div class="container">
          <div class="row justify-content-center pt-5">
            <div class="col-xl-9 col-lg-11 col-md-12">
              <div class="content text-center pb-4">
                <h2>How to buy?</h2>
              </div>
              <div
                class="
                  brand-area-l-17-items
                  d-flex
                  justify-content-center justify-content-xl-between
                  align-items-center
                  flex-wrap
                "
              >
                <p
                  style="
                    text-align: center;
                    width: 100%;
                    color: black;
                    font-weight: bold;
                    font-size: 1.2rem;
                  "
                >
                  Login and check your dashboard to get more information
                </p>
                <!-- <div class="single-brand " data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                <img src="image/l8/brand-logo-4.svg" alt="">
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>