<div class="content-area-l-17-2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-10 col-lg-12 text-container">
                <div class="WP-header">
                    <h2>White Paper</h2>
                    <div>
                        <h4>Total Tokens: <span> 1,000,000,000,000</span></h4>
                        <h6>Released Tokens: <span> 50% </span></h6>
                    </div>
                </div>
                <!-- <div class="text-container"> -->
                <p>
                    Fifty percent of the tokens remain in the team's wallet, and of that amount, 20 percent is given as a bonus to people who are active in the app. Prize tokens cannot be removed from the application and can only be given in support of the people who produce
                    the content, and if the tokens are not used, it will return to the original pool after 40 days. All fifty percent of the tokens sold in the initial release will be given to the development team in cash for developing the application.
                </p>
                <p>
                    Finally, after the initial release, our team will implement its goals in stages.
                </p>
                <br />
                <p>
                    This application includes a wallet that can only store the application currency. We strive to award prizes for user activity on the app that will be stored in their wallets. Users will also be able to use their currency to reward those who produce content
                    in this space, or they can buy products that are sold in this space. Note that reward currencies given to users activity, will not be removed from the wallet and can only be used within the app, and if you do not use it, the currencies
                    will automatically return to the currency pool after 40 days.
                </p>
                <p>
                    Users who have received gift currency for content production or who have sold their products in this space, can take their currency out of their wallets and convert it into Tether in exchange offices. By transferring the specified currency to itself,
                    the application allows you to purchase the offered products without commission and safely, because it follows a smart contract. Therefore, with the help of other users' prizes, it is possible to support people who work and produce
                    content in this platform. and because the donated currency will return to the pool after forty days, users are encouraged to donate it to support other people.
                </p>
                <br />
                <p>
                    In the first step, the development team by listing tokens to different exchanges, trying to make it easier for people who want to buy currency. The second step will include a wallet that you will be able to safely transfer currency to your friends. In
                    the third step, the team will create a decentralized community like Instagram where you can upload your photos and videos and make sure your information is not controlled on this platform.
                </p>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>